body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(img/Maringa.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

h1{
    display: block;
}

.logo-pmm{
    height: 200px;
    height: 200px;
    display: block;
    margin-top: 250px;
}

.description{
    color: white;
    display: block;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 45px;
}

.mb-3{
    width: 300px;
    display: block;
    margin-top: 20px;   
}

.botaoiniciar{
    display: block;
    margin-top: 10px;
}

.section{
    /*border: solid 2px;*/
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f8f8ff;
    border-radius: 10px;
    margin: 200px;
}
.section{
    background-color: rgba(248,248,255,0.5);
}

#logo-login{
    margin-top: 10px;
    height: 200px;
    height: 200px;
    display: block;
    opacity: 1.0;
    
}

.description-login{
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin: 10px;
}

